* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#base {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
  border-radius: 20px;
  transform: translate(0%, 25%);
  animation-name: rolling;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: 1ms;
  animation-fill-mode: both;
}

@keyframes rolling {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
